<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <title>Profile Page - Music Gallery</title>
</head>

<body>

    <!-- userProfileData, tracksData -->
    <main>
        <header>
            <h1>Music Gallery</h1>
            <div class="recommendedToggle">
                <p>Get your recommended gallery and playlist</p>
                <button id="toggleButton" class="toggleButton"></button>
            </div>
        </header>

        <section>
        <!-- Profile card -->
            <div class="profile-card">
                <img src="<%= userProfileData.images[1].url %>" alt="Spotify Image">
                <h2><%= userProfileData.display_name %></h2>
                <p>@<%= userProfileData.id %></p>
            </div>
        </section>
        

        <section>
            <!-- cover grids -->
            <div class="grid-container">
                <ul class="grid" id="imageGrid">
                    <% imageUrl.forEach(cover => { %>
                        <li>
                            <img class="covers" src="<%= cover %>" alt="Image">
                        </li>
                    <% }); %>
                </ul>
             </div>
        </section>


        <section>
            <div class="recommended">
                <h2>Your recommended playlist</h2>
                <p>We've picked out 10 new songs that we think you'll absolutely love! </p>
            </div>
            <div class="playlist">
                <ul>
                    <% recommendedUrl.forEach((cover, index) => { %>
                        <li>
                            <div>
                                <h2><%= index + 1 %></h2>
                            </div>

                            <img class="recommendedCover"src="<%= cover %>" alt="Image" data-preview-url="<%= recommendedData.tracks[index].preview_url %>">

                            <div class="trackInfo">
                                <h3><%= recommendedData.tracks[index].name %></h3>
                                <p><%= recommendedData.tracks[index].artists.map(artist => artist.name).join(', ') %></p>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>

            <!-- profile.ejs: Loop through recommendedUris to display each track URI -->
            <!-- <% recommendedUris.forEach(uri => { %>
                <p><%= uri %></p>
            <% }); %> -->


            <!-- profile.ejs: Add a form with a hidden input field and a button -->
            <form action="/createPlaylist" method="POST">
                <!-- Store recommended track URIs in a hidden input field -->
                <input type="hidden" name="recommendedUris" value="<%= JSON.stringify(recommendedUris) %>">
                <!-- Add a button to trigger form submission -->
                <button type="submit">Create Playlist</button>
            </form>

            <!-- <button id="playlistButton">Add Playlist to Spotify</button> -->
        </section>
    </main>

    <script>
        var recommendedData = <%- JSON.stringify(recommendedData) %> 
    </script>

    <!-- axios server side code  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Lenis, gsap, gsap scrollTrigger-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 
    <script defer="" src="/scripts/index.js"></script>
</body>
</html>